@font-face {
  font-family: 'Signpainter';
  src: url('./Assets/font/SignPainter-HouseScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sign-painter-font {
  font-family: 'Signpainter', sans-serif;
}

/* <div className = "sign-painter-font">
      </div> */

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('./Assets/font/NanumBarunGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Barun-Gothic-font {
  font-family: 'NanumBarunGothic', sans-serif;
}

/* <div className = "Barun-Gothic-font">
      </div> */

      @font-face {
        font-family: 'NanumBarunGothicBold';
        src: url('./Assets/font/NanumBarunGothicBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      
      .Barun-GothicB-font {
        font-family: 'NanumBarunGothicBold', sans-serif;
      }
      
      /* <div className = "Barun-GothicB-font">
            </div> */